TAG=YOUR_TAG_HERE
SERVER_URL=YOUR_SERVER_URL_HERE
PG_DATABASE_HOST=YOUR_PG_DATABASE_HOST_HERE
PG_DATABASE_PORT=YOUR_PG_DATABASE_PORT_HERE
PG_DATABASE_USER=YOUR_PG_DATABASE_USER_HERE
PG_DATABASE_PASSWORD=YOUR_PG_DATABASE_PASSWORD_HERE
REDIS_URL=YOUR_REDIS_URL_HERE
APP_SECRET=YOUR_APP_SECRET_HERE
STORAGE_TYPE=YOUR_STORAGE_TYPE_HERE
DISABLE_DB_MIGRATIONS=YOUR_DISABLE_DB_MIGRATIONS_HERE
DISABLE_CRON_JOBS_REGISTRATION=YOUR_DISABLE_CRON_JOBS_REGISTRATION_HERE
NODE_ENV=YOUR_NODE_ENV_HERE
EMAIL_DRIVER=YOUR_EMAIL_DRIVER_HERE
EMAIL_FROM_ADDRESS=YOUR_EMAIL_FROM_ADDRESS_HERE
EMAIL_FROM_NAME=YOUR_EMAIL_FROM_NAME_HERE
EMAIL_SMTP_HOST=YOUR_EMAIL_SMTP_HOST_HERE
EMAIL_SMTP_PORT=YOUR_EMAIL_SMTP_PORT_HERE
EMAIL_SMTP_USER=YOUR_EMAIL_SMTP_USER_HERE
EMAIL_SMTP_PASSWORD=YOUR_EMAIL_SMTP_PASSWORD_HERE
IS_EMAIL_VERIFICATION_REQUIRED=YOUR_IS_EMAIL_VERIFICATION_REQUIRED_HERE
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE
LOGIC_FUNCTION_TYPE=YOUR_LOGIC_FUNCTION_TYPE_HERE
MESSAGING_PROVIDER_GMAIL_ENABLED=YOUR_MESSAGING_PROVIDER_GMAIL_ENABLED_HERE
CALENDAR_PROVIDER_GOOGLE_ENABLED=YOUR_CALENDAR_PROVIDER_GOOGLE_ENABLED_HERE
AUTH_GOOGLE_CLIENT_ID=YOUR_AUTH_GOOGLE_CLIENT_ID_HERE
AUTH_GOOGLE_CLIENT_SECRET=YOUR_AUTH_GOOGLE_CLIENT_SECRET_HERE
AUTH_GOOGLE_CALLBACK_URL=YOUR_AUTH_GOOGLE_CALLBACK_URL_HERE
AUTH_GOOGLE_APIS_CALLBACK_URL=YOUR_AUTH_GOOGLE_APIS_CALLBACK_URL_HERE
