TWENTY_API_KEY=YOUR_TWENTY_API_KEY_HERE
KAPSO_WEBHOOK_SECRET=YOUR_KAPSO_WEBHOOK_SECRET_HERE
PORT=YOUR_PORT_HERE
TOKEN=YOUR_TOKEN_HERE
SUPABASE_URL=YOUR_SUPABASE_URL_HERE
SUPABASE_SERVICE_KEY=YOUR_SUPABASE_SERVICE_KEY_HERE
SUPABASE_WEBHOOK_SECRET=YOUR_SUPABASE_WEBHOOK_SECRET_HERE
