admin.jumbohomes.in {
    reverse_proxy 127.0.0.1:3000
    encode gzip
}

webhook.jumbohomes.in {
    reverse_proxy localhost:3001
    encode gzip
}


data.jumbohomes.in {
    reverse_proxy localhost:9090
    encode gzip
}
