admin.jumbohomes.in {
    reverse_proxy 127.0.0.1:3000
    encode gzip
}

webhook.jumbohomes.in {
    reverse_proxy localhost:3001
    encode gzip
}

blog.jumbohomes.in {
    reverse_proxy 172.22.0.4:80
    encode gzip
}
